/*
Navigation bar
*/

.navcontainer
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 1px solid black;
}

.navtitle
{
    display:flex;
    justify-content: flex-start;
    font-size: 25pt;
    border: 5px solid black;
    padding: 15px;    
}

ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}
.listitem
{
    list-style: none;
    margin-left: 15px;
}


/*
Container
*/

.container
{
    float:left;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid black;
    width: 90%;
}

.col1
{
    float: left;
    width: 25%;
}

.col2
{
    float: right;
    width: 60%;
}

.subtitle
{
    border: 5px solid black;
}

p
{
    border: 1px solid black;
    line-height: 30px;
}

/*
Contact form
*/

.contactform
{
    width: 90%;
}